body {
    width:70%;
    margin: 70px;
}

#formulaire {
    border-style: solid;
    border-width:1px;
    border-color: #DCDCDC;
}

.public {
    background-color:#DCDCDC;
    margin:auto;
}

.private {
    background-color:#FFCCCC;
    margin:auto;
}

#fail {
    background-color:#A9F5F2;
    margin:auto;
}

#remainingChar {
    display: block;
    margin-right: 10px;
    color:#585858;
    text-align: right;
}

#textArea {
    margin-left: 10px;
}