body {
    width:70%;
    margin: 70px;
}

#formulaire {
    border-style: solid;
    border-width:1px;
    border-color: #DCDCDC;
}

.public {
    background-color:#DCDCDC;
    margin:auto;
}

.private {
    background-color:#FFCCCC;
    margin:auto;
}

#fail {
    background-color:#A9F5F2;
    margin:auto;
}